/* This stylesheet is created by yunusegriboz */
/* https://github.com/yunusegriboz */

body {
    overflow-x: hidden;
    margin: 0px;
    font-family: monospace;
    color: white;
	font-family: "SoDo Sans SemiBold";
    letter-spacing: 1px;
    font-size: 14px;
    background-color: white;
}

#canvas-container {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 100vh;
}

canvas {
    position:fixed;
    top: 0px;
    left: 0;
}

#scrollProgress {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 99;
    font-size: 3vh;
}

main {
    width: 100vw;
    height: 200vw;
    z-index: 99;
    position: absolute;
    justify-content: center;
    text-align: end;
    pointer-events: none;
    font-size: 5vh;
}

main p{
    text-align: end;
    margin-right: 10%;
}

main h1{
    text-align: end;
    margin-right: 1%;
}

main h2{
    text-align: end;
    margin-right: 1%;
    margin-bottom: 35px;
}

section {
    font-size: 4vh;
    position: absolute;
    width: 100%;
}

/* Initialize the position of each section at certain percentages */
#ustekmek {
    top: 23%; /* Start from 24% */
}

#domates {
    top: 50%; /* Start from 43% */
}

#et {
    top: 77%; /* Start from 77% */
}

#marul {
    top: 104%; /* Start from 104% */
}

#cheedar {
    top: 130%; /* Start from 130% */
}

#end {
    top: 145%; /* Start from 145% */
}

section h1,
section h2,
section p {
    text-align: end;
    margin-right: 2%;
}